.container{
    background-color: rgb(26, 187, 166);
    width: 500px;
    height: 350px;
}


.searchbar{
    justify-content: center;
    padding: 90px;
}

h3{
    color : rgb(0, 255, 255);
}
.btn:hover {
background-color: rgb(208, 255, 0);
border-end-end-radius: 180px;

}
.div{
    display: grid;
    grid-template-columns: 2fr;
    text-align: left;
    text-size-adjust: 2px;
    font-family: cursive;
    background: rgb(100, 237, 207);
    top:40%;
    left:80%;
    padding: 100px;
    box-sizing: border-box;
    background: coral;
    border-radius: 60px;
    justify-self: stretch;
}
.div img{
    display: grid;
    width: 350px;
    height:250px;
    grid-column-start:1;
    padding: 1px;
    border-radius: 80px;
}
.div p {
    display: grid;
    text-align: right;
    padding: 1px,2px,50px 80px;
}
#row{
    widows: 300px;
    height: 10px;
} 
#nw{
    width: 200px;
}
