.container{
    background-color: rgb(0, 128, 111);
    width: 500px;
    height: 350px;
}

.logo{
    width:500px;
}
.searchbar{
    justify-content: center;
    padding: 90px;
}

p{
    float: center;
    color: rgb(255, 105, 105);
}
.mainbar{
color: hotpink;
}
h3{
    color : rgb(0, 255, 255);
}
.inp{
    justify-content: center;
}
.btn:hover {
background-color: rgb(208, 255, 0);
border-end-end-radius: 180px;
}
.one {
height: 300px;
width: 500px;
background-color: rgb(255, 123, 0);
};
.food2{
height:20px;
}

.card p {
color: rgb(0, 30, 128);
    text-align: center;
}
#final container {
width: 100px;
height: 200px;
background-color: rgb(255, 80, 211);
text-align: center;
}
